@use "./utilities/variables" as variable;
@import "./utilities/queryMixins";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variable.$color-primary, 0.75),
      rgba(variable.$color-secondary, 0.75)
    ),
    url("./../img/lazy-dog.jpg");
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }

  &__logo {
    height: 20vh;
    transition: all 0.5s;

    @include respond(phone) {
      height: 15vh;
    }
  }

  &__logo:hover {
    transform: scale(1.2);
  }
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -70%);
  backface-visibility: hidden;
  text-align: center;

  @include respond(tab-land) {
    width: 90%;
    transform: translate(-50%, -70%);
  }
}

.head-primary {
  color: variable.$color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 3rem;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }

    animation-name: moveInRight;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-12rem);
  }

  75% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
