// Theme color
$color-primary: rgba(0, 0, 0);
$color-secondary: rgba(98, 8, 110);
$color-primary-light: rgb(37, 24, 44);
$color-secondary-light: rgb(161, 39, 177);

// Color of the components
$color-white: white;
$color-black: black;
$shadow-color: black;
$color-silver: silver;
$color-gray: rgb(44, 44, 44);
$color-purple-dark: rgb(42, 0, 48);
$color-green: rgb(17, 204, 17);

$color-light-purple: rgb(243, 228, 255);

// CARDS
$color-tertiary: rgb(82, 3, 185);
$color-tertiary-light: rgb(194, 147, 255);
$color-quaternary: rgb(199, 0, 182);
$color-quaternary-light: rgb(219, 134, 212);
$color-quinto: rgba(98, 8, 110);
$color-quinto-light: rgb(235, 99, 253);

// Grid
$grid-horizontal-space: 4rem;
$grid-vertical-space: 5rem;
$grid-vertical-small: 3rem;
